*{
    color: black;
}
.navbar{
    background-color: rgb(183, 155, 127);
}
nav{
    background-color: rgb(183, 155, 127);
}
li{
    list-style: none;
    margin: 1rem;
}
#ttitle{
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
}
