*{
    color: black;
}
.navbar{
    background-color: rgb(183, 155, 127);
}
nav{
    background-color: rgb(183, 155, 127);
}
li{
    list-style: none;
    margin: 1rem;
}
#ttitle{
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ scoll ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background: #3d3d3d;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover{
    background: #333;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:active{
    background: #333;
    border-radius: 0 50px 50px 0;
}

::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    border-left: solid 1px #333;
}