body,html{
    overflow-x: hidden;
}

.cursor-pointer{
    cursor: pointer;
}
li{
    border: none !important;
    outline: none !important;
}
nav  a{
    text-decoration: none;
    color: white;
}
nav li a{
    color: white;
}
.nav-link{
    box-shadow: none !important;
    color: white;
}
.nav-link:hover{
    color: white;
}
.nav-link:link{
    color: white;
}
.nav-link:active{
    color: white;
}
.nav-link:visited{
    color: white;
}
.nav-link:focus-visible{
    box-sizing: none !important;
    color: white;
}
.navbg{
    background-color: rgb(183, 155, 127);
}

.navbg a{
    color: black;
}

.navbg li a{
    color: black;
}
.navbg li a:hover{
    color: black;
}
.navbg li a:active{
    color: black;
}
.navbg li a:link{
    color: black;
}
.navbg li a:visited{
    color: black;
}
.navbg li a:focus-visible{
    color: black;
}
.bg-img{
    background-image: url(/style/img/slidebakery.jpg);
}

*{
    color: white;
}

p,a{
    font-size: 1.3rem;
}

/* card */
.crd{
    margin: 2rem 1rem 2rem 1rem;
    background-color:rgb(183 155 127);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    width: 20rem;
    height: 25rem;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    /* border: solid 1px black; */
    border-radius: 20px;
}

.crd img{
    width: 100%;
    height: 10rem;
    transition: all ease 2s;
    opacity: 0;
}

.crd:hover img{
    height: 8rem;
}

.crd div{
    background-color:rgb(183 155 127);
    width: 100%;
    height: 100%;
    padding: .1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

.crd div h1{
    font-size: 1.2rem;
}

.crd div h2{
    font-size: 1.1rem;
    color: black;
}
.crad p{
    width: 35rem;
    font-size: 1.2rem;
}
.crd div p{
    font-size: 1rem;
}
.crad h1{
    color: black;
}
.crd div h1, .crd div p{
    color: black;
}

.crad img{
    width:50%;
    height: auto;
    opacity: 1;
    border-radius: 20px;
}
.crad:hover img{
    height: auto;
}

.crad li{
    color: black;
}

.crad{
    cursor:unset;
    background-image: none !important;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}

.crad div{
    background-color: white;
}

.crad div h1{
    font-size: 2rem;
}

.crad div li{
    font-size: 1.5rem;
}

footer{
    background-color:rgb(183 155 127);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ scoll ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background: #3d3d3d;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover{
    background: #333;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:active{
    background: #333;
}

::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    border: 0px;
}